<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link th:href="@{/edit.css}" rel="stylesheet">
</head>
<body>
<div>
    <h1>編集</h1>
</div>
<body>
<div class="container">
    <h1>編集</h1>
    <button class="settingBtn">設定</button>
</div>

<div class = "totalAmount">Current time is <span th:text="${time}"></span></div>
<table>
    <tr>


    </tr>




</table>
<!--    <span th:text="${totalAmount}"></span>円-->


</body>
</body>
</html>