<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Expense</title>
    <link th:href="@{/expense.css}" rel="stylesheet">
</head>
<div class="title-container">
    <h1>支出</h1>
</div>


<div class="ul-align-center">
    <form action="#" th:action="@{/expense}" th:object="${registerExpense}" method="post">
        <ul>
            <li>
                <span>名前</span>
                <span>
                <input type="text" th:field="*{name}" class="txt" name="name" required minlength="1" maxlength="50"
                       size="20"/>
            </span>
            </li>
            <li>
                <span>金額</span>
                <span>
                <input type="number" th:field="*{price}" class="txt" name="amount" required size="50"/>
            </span>
            </li>
            <li>
                <span>カテゴリー</span>
                <select>
                    <option th:each="category : ${categories}" th:value="${category}"
                            th:text="${category}"th:field="*{category}"></option>
                </select>
            </li>
            <li>
                <span>コメント</span>
                <span>
                <textarea name="comments" th:text="*{comments}" class="tarea" cols="50" rows="5"></textarea>
            </span>
            </li>
        </ul>

        <button class="addCategoriesBtn btn-color-radius">カテゴリー追加</button>
        <button type="submit" class="calculateBtn btn-color-radius">登録</button>
    </form>
</div>

</body>
</html>

